/*Author Shahid Naeem*/

a:focus {
  outline: none;
}
.navbar {
  background-color:#394BE9;
  border-color: #394BE9;;
 }
.navbar-header >.navbar-brand {
  color: #fff;
  line-height: 1.25;
    padding-top: 20px ;
    
}
.navbar-brand >img {
  display: inline-block;
  margin-right: 15px;
  
}
.navbar-header > .navbar-brand:hover {
  color: #4990E2;
}
#navbar > ul > li >a {
    display: block;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.25;
    padding: 35px 14px;
    text-transform: uppercase;
    position: relative;
    letter-spacing: 0.06em;
    color: #fff;
}

.menu {
  display: inline-block;
  top: calc(-100% - 20px);
  position: absolute;
  transition: .5s;
  
}
.navbar-right {
    float: right!important;
    margin-right: 10px;
}
 #navbar > ul >li:hover .menu{
  display: inline-block;
  position: absolute;
  width: 100%;
  height: calc(100% + 20px);
  top: calc(-100% + 78px);
  left: 0;
  right: 0;
  z-index: -1;
  }
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{
    background-color: transparent;
}
#navbar > ul >li.active .menu{
  display: inline-block;
  position: absolute;
  height: calc(100% + 20px);
  width: 100%;
  top: calc(-100% + 78px);
  z-index: -1;
}

#navbar > ul > li > span > img {
  width: 100%;
  height: 100%;
}
.navbar-toggle {
  margin-top:25px;
  
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #4990E2;
    border-color: #fff;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}
.top-space {
  margin-top: 85px;
}
.down-section, .up-section {
  background-color: #394BE9;
  height: calc(100% + 500px);
  width: 100%;
  position: relative;
  
  }
.down-section:before {
  position: absolute;
  bottom: 0px;
  left: 0;
  content: '';
  width: 50%;
  padding-top: 4%;
  background: #fff;
  -ms-transform: skew(0, 4.5deg) translate(0, 50%);
  -webkit-transform: skew(0, 4.5deg) translate(0, 50%);
  -moz-transform: skew(0, 4.5deg) translate(0, 50%);
  -o-transform: skew(0, 4.5deg) translate(0, 50%);
  transform: skew(0, 4.5deg) translate(0, 50%);
}
.down-section:after {
  position: absolute;
  bottom: 0;
  right: 0;
  content: '';
  width: 50%;
  padding-top: 4%;
  background: #fff;
  -ms-transform: skew(0, -4.5deg) translate(0, 50%);
  -webkit-transform: skew(0, -4.5deg) translate(0, 50%);
  -moz-transform: skew(0, -4.5deg) translate(0, 50%);
  -o-transform: skew(0, -4.5deg) translate(0, 50%);
  transform: skew(0, -4.5deg) translate(0, 50%);
}
.up-section:before{
 	position: absolute;
	top: 0px;
	left: 0;
	content: '';
	width: 50%;
	padding-top: 4%;
	background: #fff;
	-ms-transform: skew(0, -4.5deg) translate(0, -50%);
	-webkit-transform: skew(0, -4.5deg) translate(0, -50%);
	-moz-transform: skew(0, -4.5deg) translate(0, -50%);
	-o-transform: skew(0, -4.5deg) translate(0, -50%);
	transform: skew(0, -4.5deg) translate(0, -50%);
  z-index: 1;
}
.up-section:after{
position: absolute;
top: 0;
right: 0;
content: '';
width: 50%;
padding-top: 4%;
background: #fff;
-ms-transform: skew(0, 4.5deg) translate(0, -50%);
-webkit-transform: skew(0, 4.5deg) translate(0, -50%);
-moz-transform: skew(0, 4.5deg) translate(0, -50%);
-o-transform: skew(0, 4.5deg) translate(0, -50%);
transform: skew(0, 4.5deg) translate(0, -50%);
}

.content-box {
  
  margin-top: 20px;
  padding-top: 15px;
  margin-bottom: 10px;
  
  /*   transform: rotate(5deg); */
  
/*   width: calc(100% -300px); */
}
.tp{
  padding-top: 0px;
}

.carousel-inner {
  border-radius: 50px;
}
.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    width: 90%;
    margin: auto;
    border-radius: 50px;
}
.content-box >h2 {
  text-align: center;
  color: #f6f6f6;
  font-size: 22px;
  margin-top: 0px;
}
.content-box > p{
  padding-top: 20px;
  color: #f6f6f6;
  margin-right: 15px;
  text-align: justify;
}

.next-btn {
  position: relative;
  left: 50%;
  bottom: -40px;
  color: #394BE9;
  width: 88px;
  line-height: 84px;
  -webkit-transform: translate(-50%, 50%);
  -moz-transform: translate(-50%, 50%);
  -ms-transform: translate(-50%, 50%);
  -o-transform: translate(-50%, 50%);
  transform: translate(-50%, 50%);
  text-align: center;
  font-size: 35px;
  z-index: 35;
  }
.next-btn:after{
  width: 226px;
  height: 226px;
  -webkit-border-radius: 1000px;
  -moz-border-radius: 1000px;
  border-radius: 1000px;
  position: absolute;
  top: 50%;
  left: 50%;
  content: '';
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: -1;
  pointer-events: none;
  background: #fff;
}
.next-btn  a{
  position: relative;
  cursor: pointer;
  display: block;
  width: 84px;
  line-height: 84px;
  color: #394BE9;
  background-color: #fff;
  border: 2px solid #ececec;
  -webkit-border-radius: 1000px;
  -moz-border-radius: 1000px;
  border-radius: 1000px;
  -webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-ms-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
}
.next-btn a:hover{
  background-color: #394BE9;
  color: #fff;
}
.about-title {
  margin-top: 150px;
  font-size: 20px;
  color: #4990E2;
  
}
#about {
  
  background: url("../images/bg.jpg") 50% 0 no-repeat fixed; 
  min-height: 600px;
  
}
.about-content{
  padding: 15px;
  }
  .aboutbox {
    background-color: #fff;
    margin-left: 0;
    margin-right: 0;
  }
.about-box{
  
  margin: 50px 50px;
}
.img-circle {
  width: 265px;
  height: 265px;
  background-color: #020202;
  background-image: url("../images/csharp.png");
  background-repeat: no-repeat;
  background-size: 255px;
  background-position: 30% 30%;
  border:solid  #394BE9;
  position: relative; 
  box-shadow: inset 0 0 0 15px rgba(73,144,226,0.7), 0 1px 2px rgba(255,255,255,0.1);
  transition: all 0.4s ease-in-out;
}

.img-circle:hover{
  box-shadow: none;
  background-size: 265px;
}

.img-content {
  width: 264px;
  background-color: #394BE9;
  margin-top: -133px;
  border-bottom: 6px solid #4990E2;
  
}
.img-content > h2{
  font-size: 18px;
  text-align: center;
  padding: 160px 0px 10px 0px;
  color: #fff;
}
.img-content > p {
  text-align: justify;
  padding: 0px 20px;
  color: #fff;
  font-size: 12px;
  
}
/* ====== Services Section ===== */
.service-box {
  margin:50px;
}
.service-title {
  margin-top: 130px;
  font-size: 20px;
  color: #fff;
  margin-bottom: 100px;
}
.s-img-circle {
  width: 260px;
  height: 260px;
  padding-top: 11px;
  background-color: #4CB9E3;
  border-radius: 1000px;
  box-shadow: inset 0 0 0 15px rgba(57,75,233,9);
  text-align: center;
  border: 1px solid #4758eb;
  position:relative;
  margin-left: 13px;
}
.s-title-circle {
  position: absolute;
  top: -90px;
  left: 45px;
  width: 160px;
  height: 160px;
  background-color: #4990E2;
  border-radius: 100px;
  border: 20px solid #394BE9;
  color: #fff;
  
  }
.s-title-circle >h4 {
  font-size: 16px;
  text-align: center;
  margin-top: 35px;
  
}
.s-para {
  margin-top: 35px;
  margin-bottom: 20px;
  padding-left:px;
  color: #fff;
  text-align: center;
}
.s-more {
  display: inline-block;
  width: 100px;
  height: 100px;
  background-color: #4990E2;
  padding: 10px;
  border-radius: 100px;
  text-transform: uppercase;
  text-align: center;
  line-height: 5.5em;
  margin-left:100px;
  box-shadow: inset 0 0 0 15px rgba(57,75,233,9);
  color: #fff;
  position: relative;
  margin-top: 130px;
  margin-left: 90px;
  }
.s-more:before {
  content: " ";
  transition: all 255ms ease-in;
  -moz-transition: all 255ms ease-in;
  -webkit-transition: all 255ms ease-in;
  transform: scale3d(0, 0, 0);
  -webkit-transform: scale3d(0, 0, 0);
  width: 100px;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 100px;
  background-color: rgba(57, 75, 233, .1);
  box-shadow: inset 0 0 0 15px rgba(73,144,226,9);
  opacity: 1;
  
  
  }
.s-more:hover:before{
  transform: scale3d(1, 1, 1);
  
}

.a-more:hover {
  text-decoration: none;
}

/* == Works Section == */
#works{
  padding-top: 130px;
  padding-bottom: 0px;
}
.work-heading > h2 {
  font-size: 20px;
  color: #4990E2;
  text-transform: uppercase;
}
.work-heading >span {
  font-size: 14px;
  font-family: 'Lora', serif;
}
.main-work > p {
  padding-top: 15px;
  padding-right: 36px;
  line-height: 28px;
  }
.main-work > a {
  padding: 0px 28px;
	line-height: 44px;
	font-size: 13px;
	color: #fff;
	font-weight: 500;
	text-align: center;
	background: #4990E2;
	text-transform: uppercase;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	border: none;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-ms-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
}
.main-work > a:hover {
  background-color: #394BE9;
  color: #fff;
}
.main-projects-wrap {
  margin: 0 auto;
  padding-top: 30px;
  }
.main-projects {
	position: relative;
  min-height: 490px;
  
}
.project-list {
	position: absolute;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  margin-top: 35px;
  
}
.list-one {
  width: 386px;
  height: 386px;
  background-image: url("../images/01.jpg");
  background-repeat: no-repeat;
	top: -180px;
	left: 102px;
  max-width: 386px;
  max-height: 386px;

}
.more-link-wrapper {
	position: absolute;
	left:0;
	top: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
	overflow: hidden;
}
.more-info-link {
	background: rgba(73,144,266,.8);
	/* vertical-align: middle; */
	font-weight: 400;
	opacity: 0;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-ms-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
	width: 100%;
	height: 100%;
	display: block;
	-webkit-transform: translateY(100%);
	-moz-transform: translateY(100%);
	-ms-transform: translateY(100%);
	-o-transform: translateY(100%);
	transform: translateY(100%);
}
.more-info-link span {
	position: absolute;
	top: 40%;
	transform: rotate(-45deg);
	left: 48%;
	font-size: 55px;
	color: #ffffff;
}
.small span {
	position: absolute;
	top: 35%;
	transform: rotate(-45deg);
	left: 40%;
	font-size: 35px;
	color: #ffffff;
}
.more-info-link:hover, .more-info-link:focus {
	color: #ffffff;
}
.more-link-wrapper:hover .more-info-link {
	opacity: 1;
	-webkit-transform: translateY(0%);
	-moz-transform: translateY(0%);
	-ms-transform: translateY(0%);
	-o-transform: translateY(0%);
	transform: translateY(0%);
}
.list-two, .list-three, .list-four, .list-five,.list-six {
  width: 188px;
  height: 188px;
  background-image: url("../images/02.jpg");
  background-repeat: no-repeat;
  background-size: 188px;
  max-width: 188px;
  max-height: 188px;
}
.list-two {
/* 	left: 31.2%;
	top: 9.2%; */
  
  left: 480px;
  top: 60px;
  
}
.list-two .more-link-wrapper,
.list-three .more-link-wrapper,
.list-four .more-link-wrapper,
.list-five .more-link-wrapper,
.list-six .more-link-wrapper{
  width: 100%;
	height: 100%;
}
.list-three {
/* 	left: 28.9%;
	top: 46.5%; */
  
  left: 340px;
  top: 200px;
  }
.list-four {
/* 	left: 56.6%;
	top: 23.3%; */
  left: 760px;
  top: 60px;
   
}
.list-five {
/*   left: 47.4%;
  top: 46.7%; */
  left: 620px;
  top: 200px;
  width: 188px;
  height: 188px;
}
.list-six {
/*   left:65.8%;
  top: 46.7%; */
  left: 900px;
  top: 200px;
  width: 188px;
  height: 188px;
  
}
/* == Blog Section */
.blog-box{
  margin-left: 20px;
  margin-bottom: 50px;
  text-align: center;
}
.blog-title {
  margin-top: 130px;
  font-size: 20px;
  color: #fff;
  margin-bottom: 40px;
}
.blog-box > img {
  margin-bottom: 5px;
}
.blog-box > h5{
  color: #4990E2;
  font-size: 12px; 
}
.blog-box > a{
  color: #fff;
  text-decoration: underline;
}
.blog-box > a:hover {
  text-decoration: none;
}
.blog-box > p {
  color: #fff;
  padding-top: 10px;
}
.more-blogs{
  margin-bottom: 20px;
  padding: 0px 28px;
	line-height: 44px;
	font-size: 13px;
	color: #fff;
	font-weight: 500;
	text-align: center;
	background: #4990E2;
	text-transform: uppercase;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	border: none;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-ms-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
}
.more-blogs:hover {
  background-color: #fff;
  color: #4990E2;
}
/* ==Contact Section== */
.contact-wraper {
  margin-top: 130px;
}
.contact-title {
  font-size: 20px;
  color: #4990E2;
  text-transform: uppercase;
}
.map {
  background-image: url("../images/map.jpg");
  background-size: 520px;
  background-repeat: no-repeat;
  background-position: 55% 50%;
  border-radius: 100%;
  width: 550px;
  height: 550px;
  background-color: #454545;
  border:1px solid #000;
  box-shadow: inset 0 0 0 15px rgba(73,144,226,.9);
 }
.address-wrap{
  margin-top: 100px;
  color:#4990E2;
}
.address-title {
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 50px;
}
.address-circle {
  display: block;
  color: #fff;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #4992E0;
  text-align: center;
  font-size: 20px;
  line-height: 2.6em;
  border: 1px solid #ccc;
  box-shadow: inset 0 0 0 5px rgba(255,255,255,1);
  margin: 0 auto;
  }
.feedback-title {
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 30px;
  }

.form-group > input {
  margin-left: 5px;
  box-shadow: none;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  width: 90%;
  border-bottom: 1px solid #ddd;
  border-radius: 0;
 }
.form-group >input:focus {
  box-shadow: none;
}
.form-group > textarea {
  box-shadow: none;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  resize: none;
  width: 95%;
  border-radius: 0;
  margin-left: 5px;
  }
.form-group> textarea:focus {
  box-shadow: none;
}
.sendmsg {
  margin-top: 10px;
  background-color: transparent;
  color: #4992E0;
  font-size: 20px;
 }
.footer-wrap {
  margin-top: 100px;
  min-height: 100px;
}
.f-heading {
  color: #fff;
  font-size: 14px;
   text-shadow: 1px 1px #000;
}
.social-wrap {
  text-align: center;
  padding-top:5px;
}
.fb {
  background-color: #3B5999;
  display: inline-block;
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 100px;
  box-shadow: inset 0 0 0 3px rgba(255,255,255,0.7);
  border: none;
  color: #fff;
  font-size: 20px;
  line-height: 2em;
  margin: 0 2px;;
}
.dribble {
  background-color: #F26798;
}
.twitter {
  background-color: #55ACEF;
}
.gplus {
  background-color: #DC4E42;
}
.linked {
  background-color: #0077B4;
}

@media (max-width:1400px) and (min-width:1200px){
 
 
  #about, #services {
    margin-left: -120px;
  }
  .img-circle{
    width: 254px;
    height: 234px;
    background-size: 225px;
    
  }
  .img-circle:hover{
    background-size: 240px;
  }
  .img-content{
    width: 254px;
    height: 350px;
    margin-top: -125px;
    margin-bottom: 20px;
  }
  .img-content >h2 {
    padding-top: 130px;
    font-size: 14px;
  }
  .img-content > p {
    font-size: 12px;
  }
  /*  == services Section ==  */
  .s-img-circle {
    width: 240px;
    height: 240px;
    
  }
  .s-title-circle {
    width: 140px;
    height: 140px;
    
      }
  .s-title-circle > h4{
    font-size: 14px;
    line-height: 1em;
  }
  .s-more {
    height: 90px;
    width: 90px;
    line-height: 4.5em;
  }
  .s-more:before {
    height: 90px;
    width: 90px;
  }
  /*======Work Section=====*/
  .main-projects-wrap {
   padding-top: 0px;
  }
  
  .main-projects {
    min-height: 400px;
    margin-left: 10px;
  }
  .list-one {
    width: 320px;
    height: 320px;
    background-size: 320px;
    top: -170px;
    left: 15px;
  }
  .list-two, .list-three, .list-four, .list-five, .list-six {
     width: 153px;
    height: 153px;
    background-size: 153px;
  }
  .list-two {
    top: 30px;
    left: 330px;
  }
  .list-three {
    top: 145px;
    left: 215px;
  }
  .list-four {
    top: 30px;
    left: 560px;
  }
  .list-five {
    top: 145px;
    left: 445px;
  }
  .list-six {
    top: 145px;
    left: 675px;
  }
/*  == Contact Section ==  */
  .map {
    width: 400px;
    height: 400px;
  }
  
  
}
@media(min-width:766px) and (max-width:1199px){
 
  /*======Header Section=====*/
  .navbar-header {
    padding-bottom: 20px;
  }
 
 
  /*======Work Section=====*/
  .main-projects-wrap {
   padding-top:10px;
  }
  
  .main-projects {
    min-height: 375px;
    margin-left: 10px;
  }
  .more-info-link span {
	top: 35%;
	left: 45%;
	font-size: 35px;
	}
.small span {
	top: 35%;
	left: 40%;
	font-size: 25px;
	color: #ffffff;
}
  .more-info-link {
	
		width: 100%;
    height: 100%;
  }
  .list-one {
    width: 220px;
    height: 220px;
    background-size: 220px;
    top: -100px;
    left: -7px;
  }
  .list-two, .list-three, .list-four, .list-five, .list-six {
    width: 109px;
    height: 109px;
    background-size: 109px;
  }
  .list-two {
    top: 35px;
    left: 210px;
  }
  .list-three {
    top: 117px;
    left: 129px;
  }
  .list-four {
    top: 35px;
    left: 370px;
  }
  .list-five {
    top: 117px;
    left: 290px;
  }
  .list-six {
    top: 117px;
    left: 450px;
  }
/*  == Contact Section ==  */
  .contact-title {
    margin-bottom: 30px;
  }
  .map {
    margin: 0px auto;
    border-radius: 0;
    width: 100%;
    background-size: 100%;
  }
  .feedback-title {
    text-align: center;
  }
  .address-title {
    
    text-align: center;
  }
  .address-circle{
    margin-bottom: 20px;
  }
  .address-content{
    text-align: center;
    margin-bottom: 20px;
  }
  .form-group > textarea {
    width: 90%;
  }
}

@media(min-width:480px) and (max-width:767px){
  .menu{
    display: none;
  }
  /*======Header Section=====*/
  .navbar-header {
    padding-bottom: 20px;
  }
  .navbar-right {
    float: right!important;
    margin-right: 0px;
    width: 100%;
}
  #navbar > ul >li:hover .menu{
  display: none;
  
  }
  #navbar > ul >li.active .menu{
  display: none;
  }
  #navbar > ul > li >a {
    padding: 14px 14px;
    }
  #navbar > ul > li {
    margin-top: 0px;
    border: 1px solid #4990E2;
    text-align: center;
  }
  #navbar > ul > li:hover{
    background-color: #4990E2;
  }
  .navbar-brand{
    font-size: 16px;
  }
  .service-box {
    margin-left:100px;
    margin-bottom: 90px;
  }
  /*  ==Work Section==   */
  .main-projects {
    min-height: 1780px;
    margin-left: 10px;
  }
  .list-one {
    width: 220px;
    height: 220px;
    background-size: 220px;
    top: 50px;
    left: 100px;
  }
  .more-info-link span {
	top: 35%;
	left: 45%;
	font-size: 35px;
	}
  .list-two, .list-three, .list-four, .list-five, .list-six {
    width: 220px;
    height: 220px;
    background-size: 220px;
  }
  .list-two {
    top: 370px;
    left: 116px;
  }
  .list-three {
    top: 650px;
    left: 116px;
  }
  .list-four {
    top: 930px;
    left: 116px;
  }
  .list-five {
    top: 1206px;
    left: 116px;
  }
  .list-six {
    top: 1485px;
    left: 116px;
  }
/*  == Contact Section ==  */
  .contact-title {
    margin-bottom: 30px;
  }
  .feedback-title {
    text-align: center;
  }
  .map {
    margin: 0px auto;
    border-radius: 0;
    width: 100%;
    
  }
  .address-title {
    
    text-align: center;
  }
  .address-circle{
    margin-bottom: 20px;
  }
  .address-content{
    text-align: center;
    margin-bottom: 20px;
  }
  .form-group > textarea {
    width: 90%;
  }
  
}
@media (max-width:480px) and (min-width:266px) {
  .menu{
    display: none;
  }
  /*======Header Section=====*/
  .navbar-header {
    padding-bottom: 20px;
  }
 .navbar-right {
    float: right!important;
    margin-right: 0px;
    width: 100%;
}
  #navbar > ul >li:hover .menu{
  display: none;
  
  }
  #navbar > ul >li.active .menu{
  display: none;
  }
  #navbar > ul > li >a {
    padding: 12px 12px;
    }
  #navbar > ul > li {
    margin-top: 0px;
    border: 1px solid #4990E2;
    text-align: center;
  }
  #navbar > ul > li:hover{
    background-color: #4990E2;
  }
  .navbar-brand {
    font-size: 12px;
    
  }
  #about{
    margin-left: -80px;
  }
/*  ==Services Section  */
  #services {
    
    margin-left: -20%;
  }
  .service-box {
    margin-left: -1vw;
    margin-bottom: 90px;
  }
  .main-projects-wrap {
   padding-top:10px;
  }
  /*  ==Work Section==   */
  .main-projects {
    min-height: 1780px;
    margin-left: -80px;
  }
  .list-one {
    width: 220px;
    height: 220px;
    background-size: 220px;
    top: 50px;
    left: 100px;
  }
  .more-info-link span {
	top: 35%;
	left: 45%;
	font-size: 35px;
	}
  .list-two, .list-three, .list-four, .list-five, .list-six {
    width: 220px;
    height: 220px;
    background-size: 220px;
  }
  .list-two {
    top: 370px;
    left: 116px;
  }
  .list-three {
    top: 650px;
    left: 116px;
  }
  .list-four {
    top: 930px;
    left: 116px;
  }
  .list-five {
    top: 1206px;
    left: 116px;
  }
  .list-six {
    top: 1485px;
    left: 116px;
  }
/*  ==Contact Section ==  */
  .contact-title {
    margin-bottom: 30px;
  }
  .feedback-title {
    text-align: center;
  }
  .map {
    margin: 0px auto;
    border-radius: 0;
    width: 100%;
    height: 300px;
   
  }
  .address-title {
    
    text-align: center;
  }
  .address-circle{
    margin-bottom: 20px;
  }
  .address-content{
    text-align: center;
    margin-bottom: 20px;
  }
  .form-group > textarea {
    width: 90%;
  }
/*  ==Footer Section==  */
  .fb {
    height: 30px;
    width: 30px;
    line-height: 1.8em;
    font-size: 16px;
  }

}